
<mat-divider></mat-divider>
<section>
    <div class="example-button-row">
    <button mat-raised-button color="primary">sign in</button>
    <button mat-raised-button color="primary" (click)="signUpClick()">sign up </button>
</div>
</section>
<mat-divider></mat-divider>

@if(signUpOn){
    <mat-card class="custom-card">
        <mat-card-header>
          <mat-card-title>Registration Form</mat-card-title>
          <mat-card-subtitle>Please fill in the details below</mat-card-subtitle>
        </mat-card-header>
        
        <mat-divider></mat-divider>
        
        <form (ngSubmit)="onsubmit()" class="form-container">
          <mat-card-content>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Name</mat-label>
              <input matInput [(ngModel)]="user.name" name="name" required>
            </mat-form-field>
      
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Email</mat-label>
              <input matInput placeholder="pat@example.com" [(ngModel)]="user.email" name="email" required>
            </mat-form-field>
      
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" name="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
      
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Role</mat-label>
              <mat-select [(ngModel)]="user.role" name="role" required>
                <mat-option value="student">Student</mat-option>
                <mat-option value="teacher">Teacher</mat-option>
                <mat-option value="admin">Admin</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
          
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Submit</button>
          </mat-card-actions>
        </form>
      </mat-card>
      @if(dielog){
        <h2 mat-dialog-title>Error</h2>
    <mat-dialog-content>
        The details are not completed correct
    </mat-dialog-content>
    }
      
}